TESTWEBВК
[{"id":"31332582.eedb62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7fbadbbd.6a982c","type":"inject","z":"31332582.eedb62","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["5f21015c.a8742"]]},{"id":"5f21015c.a8742","type":"function","z":"31332582.eedb62","name":"Получаем параметры","func":"msg.headers={\n    \"sid\":\"191017csb2r22w9f15a6\",\n    \"Content-Type\":\"application/json\"\n}\nmsg.payload={\n    \"bms_mscode\":\"5\",\n    \"essences\":\t[\n  {\n    \"itemState\": \"i\",\n    \"bcr_crid\": \"2\",\n    \"bce_ceid\": \"1\"\n  }\n],\n\"bdc_brnm\":\"DNH0\",\n\"bdt_dtid\":\"PBNK005\",\n\"bdc_usid_a\":\"bulldozer\",\n\"bdc_io\":\"i\"\n    \n}\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["3109587f.763648"]]},{"id":"3109587f.763648","type":"http request","z":"31332582.eedb62","name":"Создаем референс ВЭБВК","method":"POST","ret":"txt","paytoqs":false,"url":"https://odb.privatbank.ua:10520/vk_server/doc/vKDocument/ ","tls":"","proxy":"","authType":"","x":640,"y":140,"wires":[["10609922.894277"]]},{"id":"67a259c3.781ab","type":"debug","z":"31332582.eedb62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":140,"wires":[]},{"id":"10609922.894277","type":"json","z":"31332582.eedb62","name":"","property":"payload","action":"","pretty":false,"x":850,"y":140,"wires":[["67a259c3.781ab"]]}]
