TESTVK2
[{"id":"31332582.eedb62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a666215d.819e78","type":"http in","z":"31332582.eedb62","name":"Start","url":"/TESTVK","method":"get","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["180083c5.4ec5b4"]]},{"id":"180083c5.4ec5b4","type":"function","z":"31332582.eedb62","name":"Получаем оператора","func":"\nmsg.number=\"0679042756\"\n\nfunction getMobOperator (code) {\n\tvar result = 'Оператор не известный';\n\tvar obj_code = {\n\t\t'067':'Kievstar',\n\t\t'096':'Kievstar',\n\t\t'097':'Kievstar',\n\t\t'098':'Kievstar',\n\t\t'050':'Vodafone',\n\t\t'066':'Vodafone',\n\t\t'095':'Vodafone',\n\t\t'099':'Vodafone',\n\t\t'063':'Lifecell',\n\t\t'073':'Lifecell',\n\t\t'093':'Lifecell'\n\t};\n\tif (obj_code[code]) {\n\t\tresult = obj_code[code];\n\t}\n\treturn {\n\t\t'code':code,\n\t\t'operator':result\n\t};\n}\nvar answer = {\n\t'code':msg.number.slice(0, 3),\n\t'operator':'Оператор не известный'\n};\nif (msg.number.length == 12 && msg.number.slice(0, 2) == '38') {\n\tanswer = getMobOperator(msg.number.slice(2, 5));\n} else if (msg.number.length == 10 && msg.number.slice(0, 1) == '0') {\n\tanswer = getMobOperator(msg.number.slice(0, 3))\n}\ndelete msg.payload.session;\nmsg.payload.answer = answer;\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["597bd1e8.a10868"]]},{"id":"2ea57d9c.72f002","type":"debug","z":"31332582.eedb62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":180,"wires":[]},{"id":"add2e236.cbf9d","type":"http response","z":"31332582.eedb62","name":"Отдаем инфо по оператору Kievstar","statusCode":"","headers":{},"x":910,"y":100,"wires":[]},{"id":"597bd1e8.a10868","type":"switch","z":"31332582.eedb62","name":"Фильтруем оператора","property":"payload.answer.operator","propertyType":"msg","rules":[{"t":"eq","v":"Kievstar","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":100,"wires":[["add2e236.cbf9d","2ea57d9c.72f002"]]}]
